@import '~bootstrap/scss/bootstrap';

main {
  width: 100%;
}

body {
  background-color: #7ca2a1;
  font-family: 'Work Sans', sans-serif;
}
.navbar {
  padding: 0px;
  position: relative;
}
.logoContainer {
  position: relative;
  margin: 0px;
}
.Search2-layout {
  width: 80%;
}
nav {
  background-color: #31464f;
  navbar-text {
    color: white
  }
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

.row {
}
.cardLink, .cardButton {
  justify-content: space-around;
}
.cardFooter {
  justify-content: space-around;
}

.row {
  justify-content: space-around;
}
.Search2-layout {
  justify-content: space-around;
}
.autocomplete-dropdown-container {
   z-index: 1000;
   position: absolute;
}
.container {
  margin-top: 50px;
}
//
// .placeContainer {
//   outline: black,
//   color: green,
//   justify-content: center;
//   margin-top: 50;
//   padding: 10;
// }
//
// .infoContainer {
//   justify-content: center;
//   margin: 15;
//   padding: 10;
//   outline: black,
//   color: green,
//   margin: 15;
//   padding: 10;
// }
